.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart-container{
    background-color: blanchedalmond;
    padding: 25px;
    text-align: center;
    max-height: 920px;
    position: sticky;
    top: 0;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 80px 50px;
}